<%# partial for adding links to bibtex and abstract %>
<% if entry.has_key?('abstract') %>
<a name="abstract-<%=entry['$id']%>" href="/bibtex/abstract?id=<%=entry['$id']%>">
[abstract]
</a>
<% else %>
<a name="info-<%=entry['$id']%>" href="/bibtex/abstract?id=<%=entry['$id']%>">
[more]
</a>
<% end %>

<%= render_dl_doc(entry) %>