<%# example template for !bibliography{} %>
<%= "<b>Rendered example for a bibliography template:</b> #{entries.size} items<p>" %>

<% entries.each_with_index do |entry,i| %>
<%= " (#{i+1}) " %>
<%= entry['title'] %>
<%= render('_bibtex_link',[entry],'') %> <%# NOTE: different binding %>
<%= render('_info_link',[entry],'') %>   <%# NOTE: different binding %>
<br>
<% end %>
